<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand ms-2" [routerLink]="['/recipes']">Amazing Recipes</a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link" [routerLink]="['/recipes']" routerLinkActive="active">Recipes</a>
            <a class="nav-item nav-link" [routerLink]="['/saved-recipes']" routerLinkActive="active">Saved Recipes</a>
            <a class="nav-item nav-link" [routerLink]="['/profile']" routerLinkActive="active">Profile</a>
        </div>
    </div>
</nav>