<div *ngIf="recipeItem !== undefined; else default">
    <div class="row text-center">
        <div class="col-xs-12">
            <h3>{{ recipeItem.name }}</h3>
            <img src={{recipeItem.imageURL}} class="img-thumbnail" style="max-width: 500px; max-height: 600px; "
                alt="image here" />
            <p>{{ recipeItem.description }}</p>
        </div>
    </div>
    <hr><br>
    <div class="row">
        <!-- cooking instructions -->
        <div class="col-xs-12">
            <h3>Cooking Instructions</h3>
            <div class="list-group" *ngFor="let ins of recipeItem.instructions">
                <a class="list-group-item list-group-item-action">{{ ins }}</a>
            </div>
        </div>
    </div>
    <hr><br>
    <div class="row">
        <!-- ingredients -->
        <div class="col-xs-12">
            <h3>Ingredients</h3>
            <div class="list-group" *ngFor="let ingredient of recipeItem.ingredients">
                <a class="list-group-item list-group-item-action">{{ ingredient.name }}, {{ ingredient.raw_text ==='n/a' ? '': ingredient.raw_text}} {{ingredient.extra_comment !== '' ? ', ' + ingredient.extra_comment : ''}}</a>
            </div>
        </div>
    </div>
</div>
<ng-template #default>
    <div class="col text-center">
        <h2>Please select a recipe from the list.</h2>
    </div>
</ng-template>