<div class="row">

    <div class="col">
        <h3>Title</h3>
        <img src="https://miro.medium.com/max/1200/1*FhefRHwEXt63Uo9RLTQf3w.jpeg" class="rounded" height="200px"
            width="200px" alt="image here" />
        <p>description</p>
    </div>
</div>
<div class="row justify-content-center">
    <!-- cooking instructions -->
    <div class="col-md-auto">
        <details>
            <summary>Cooking Instructions</summary>
            <div class="list-group">
                <a class="list-group-item list-group-item-action">The curraskjflhaslkdnaslKDJHAsjdbasJKSNAjhmbent
                    link item</a>
                <a class="list-group-item list-group-item-action">A second link item</a>
                <a class="list-group-item list-group-item-action">A third link item</a>
                <a class="list-group-item list-group-item-action">A fourth link item</a>
                <a class="list-group-item list-group-item-action">A disabled link item</a>
            </div>
        </details>
    </div>
</div>
<div class="row justify-content-md-center">
    <!-- ingredients -->
    <div class="col-md-auto">
        <details>
            <summary>Ingredients</summary>
            <ul class="list-group list-group-horizontal">
                <li class="list-group-item list-group-item-action">Name</li>
                <li class="list-group-item list-group-item-action">quantity</li>
                <li class="list-group-item list-group-item-action">units</li>
            </ul>
        </details>
    </div>
</div>