<div class="container-fluid my-2 ">
    <div class="row">
        <div class="col-12">
            <app-search-options (searchValue)="setRecipesList($event)"></app-search-options>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-2 col-md-4">
            <div class="row" *ngFor="let recipe of recipesList; index as i">
                <app-recipe-list [recipe]="recipe" [index]="i"></app-recipe-list>
            </div>
        </div>
        <div class="col-xs-10 col-md-8">
            <app-recipe-item></app-recipe-item>
        </div>
    </div>
</div>